<div class="card sidebar-menu mb-4">
  <div class="card-header">
    <h3 class="h4 card-title">Dashboard Menu</h3>
  </div>
  <div class="card-body">
    <ul class="nav nav-pills flex-column">
      <a href="customer-orders.html" class="nav-link active">
        <i class="fa fa-list"></i> Users
      </a>
      <a href="<%= services_path %>" class="nav-link">
        <i class="fa fa-heart"></i> Services
      </a>
      <a href="customer-account.html" class="nav-link">
        <i class="fa fa-user"></i> Listings
      </a>
      <a href="index.html" class="nav-link">
        <i class="fa fa-sign-out"></i> Orders
      </a>
    </ul>
  </div>
</div>