<!--TODO: Fix the dashboard charts with proper access roles -->
<div class="quick_activity_wrap">
  <div class="single_quick_activity" style="background: #3B76EF;">
    <h4>Total Users</h4>
    <h3>$ <span class="counter">579,000</span> </h3>
    <p>Saved 25%</p>
  </div>

  <div class="single_quick_activity" style="background: #6DD4B1;">
    <h4>Total Listings</h4>
    <h3>$ <span class="counter">579,000</span> </h3>
    <p>Saved 25%</p>
  </div>
</div>
