<div class="card sidebar-menu mb-4">
  <div class="card-header">
    <h3 class="h4 card-title">User section</h3>
  </div>
  <div class="card-body">
    <ul class="nav nav-pills flex-column">
      <a href="<%= listings_path(u: current_user.id) %>" class="nav-link active">
        <i class="fa fa-list"></i> My listings
      </a>
      <a href="customer-wishlist.html" class="nav-link">
        <i class="fa fa-heart"></i> My orders
      </a>
      <a href="<%= profile_path(current_profile) %>" class="nav-link">
        <i class="fa fa-user"></i> My Account
      </a>
      <a href="<%= edit_profile_path(current_profile) %>" class="nav-link">
        <i class="fa fa-user"></i> Edit Account
      </a>
    </ul>
  </div>
</div>

<div class="banner">
  <a href="javascript:void(0)">
    <%= image_tag @profile.photo&.variant(resize: '620x410') || 'no_photo.jpg', alt: "#{@profile.full_name} photo", class: 'img-fluid' %>
  </a>
</div>
