<div class="box info-bar" id="listing_filter">
  <div class="row">
    <div class="col-md-12 col-lg-4 products-showing">
      Showing <strong><%= params[:num] %></strong> of <strong><%= @listings.length %></strong> products
    </div>
    <div class="col-md-12 col-lg-7 products-number-sort">
      <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
        <div class="products-number">
          <strong>Show</strong>
          <a href="javascript:void(0)" data-value="12" class="btn btn-sm btn-primary">12</a>
          <a href="javascript:void(0)" data-value="24" class="btn btn-outline-secondary btn-sm">24</a>
          <a href="javascript:void(0)" data-value="all" class="btn btn-outline-secondary btn-sm">All</a><span>products</span>
        </div>
        <div class="products-sort-by mt-2 mt-lg-0"><strong>Sort by</strong>
          <%= select_tag 'sort_by', options_for_select(Listing::SORT_OPTIONS.map { |opt| [opt.capitalize, opt] }, params[:sort_by]),
             { class: 'form-control' } %>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.products-number a').click(function () {
      var queries = queryParameters();
      queries['num'] = $(this).data('value');

      document.location.href = "?" + $.param(queries);
    });

    $('.products-sort-by').on('change', function () {
      var queries = queryParameters();
      queries['sort_by'] = $(this).find(":selected").val();

      document.location.href = "?" + $.param(queries);
    });

    changeSelectedProductNumber();

    function queryParameters(){
      var queryDict = {};
      location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]});

      return queryDict;
    }

    function changeSelectedProductNumber() {
      var queryDict = queryParameters();

      $('.products-number a').each(function(){
        if(queryDict['num'] == undefined && $(this).data('value') == '12'){
          $(this).addClass('btn-primary');
          $(this).removeClass('btn-outline-secondary');
        }
        else if(queryDict['num'] == $(this).data('value')){
          $(this).addClass('btn-primary');
          $(this).removeClass('btn-outline-secondary');
        }else{
          $(this).removeClass('btn-primary');
          $(this).addClass('btn-outline-secondary');
        }
      });
    }
  })
</script>