<div class="card sidebar-menu mb-4">
  <div class="card-header">
    <h3 class="h4 card-title">Listings section</h3>
  </div>
  <div class="card-body">
    <ul class="nav nav-pills flex-column">
      <% if %w[index].include?(params[:action]) %>
        <li>
          <a href="category.html" class="nav-link">Services
            <span class="badge badge-secondary"><%= @services.length %></span>
          </a>
          <ul class="list-unstyled">
            <% @services.each do |service| %>
              <li><a href="<%= listings_path(s: service.id) %>" class="nav-link"><%= service.name %></a></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>