<div class="box">
  <h1>
    Listings
    <% unless is_fan? %>
      <%= link_to new_listing_path do %>
        <i class="fa fa-plus-circle"></i>
      <% end %>
    <% end %>
  </h1>
  <p>Create your listings to showcase you talent</p>
</div>

<%= render 'listings/filters' %>

<div class="row products">
  <% @listings.each do |listing| %>
    <%= render 'listings/listing', listing: listing %>
  <% end %>
</div>
