<h4>Leave comment</h4>
<%= form_for [@listing, comment], remote: true do |f| %>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <%= f.text_area :description, autocomplete: 'off', class: 'form-control', rows: 3, required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <% unless comment.new_record? %>
        <%= link_to 'javascript:void(0)', id: 'comment-cancel', class: 'btn btn-outline-primary' do %>
          <i class="fa fa-close"></i> Cancel
        <% end %>
      <% end %>
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-comment-o"></i> Post comment
      </button>
    </div>
  </div>
<% end %>
