@font-face {
  font-family: 'FontAwesome';
  src: url(asset-path("fontawesome-webfont.eot?v=4.7.0"));
  src: url(asset-path("fontawesome-webfont.eot?#iefix&v=4.7.0")) format("embedded-opentype"),
  url(asset-path("fontawesome-webfont.woff2?v=4.7.0")) format("woff2"),
  url(asset-path("fontawesome-webfont.woff?v=4.7.0")) format("woff"),
  url(asset-path("fontawesome-webfont.ttf?v=4.7.0")) format("truetype"),
  url(asset-path("fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")) format("svg");
}

.profiler-results.profiler-no-controls{
  display: none;
}
/*Home CSS*/
.home-banner img{
  width: 100%;
}
.navbar-brand.home img{
  width: 65px;
  height: auto;
}
/*Dashboard CSS*/
@media (min-width: 1200px) and (max-width: 1500px){
  .quick_activity_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
.single_quick_activity{
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 41px 30px;
  position: relative;
}
.quick_activity_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px;
}
/*Listing CSS*/
.free-listing-checkbox input {
  top: 30px;
  position: absolute;
  width: 40%;
}
.free-listing-checkbox label {
  top: 30px;
  position: absolute;
}
#votes-section .buttons a:hover, #votes-section .buttons a:focus{
  text-decoration: none;
}
#comments-list .comment img{
  width: 102px;
  height: 102px;
}
#comments-list .comment-actions a:hover{
  text-decoration: none;
}
